:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #22272E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #347d39;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #4f9a54;
}
button:focus,
button:focus-visible {
  background-color: #347d39;
  
}

.card {
  width: 300px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(63, 63, 63, 0.3);
  padding: 20px;
}

a{
  cursor: pointer;
  text-decoration: underline;
  color: #2257D5;
  font-size: 14px;
}